body {
    background: #d2d2c1 url("images/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
}

/* Definindo tamanho de todos os elementos dentro da div principal*/
#principal {
    width: 900px;
}

/* Imagem de fundo e espaçamento iterno da div */
#menu {
    background: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
}

#rodape {
    text-align: center;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

/* Formatando links (menu): cor, estilo */
a {
    color: #4B566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}
